@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}
body{
    line-height: 1.6;
}
h1{
    font-size: 70px;
    font-weight: bold;
    margin: 30px 0 20px 0;
    text-align: center;
    text-shadow: 4px 2px rgba(128, 128, 128, 0.848);
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
#search-input{
    width: 80%;
    height: 50px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgb(0, 0, 0,0.2);
    border-radius: 5px;
    color: #333;
}
#search-button{
    
    height: 50px;
    margin-left: 10px;
    padding:10px 20px;
    border-radius:5px;
    background-color: #138065;
    color: white;
    border: none;
    box-shadow: 0 0 6px rgb(0, 0, 0,0.2);
    cursor: pointer;
}
#search-results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.search-result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgb(0, 0, 0,0.2);
    overflow: hidden;
}
.search-result img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:opacity 0.2s ease-in-out;
}
.search-result:hover img{
    opacity: 0.8;
}

.search-result a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
}
#see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding: 10px  20px ;
}
#see-more-btn{
    background: #008cba;
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    display: none;
}

@media screen and (max-width:768px) {
    #search-results{
        padding: 20px;
    }
    .search-result{
        width: 45%;
        
    }
    h1{
        font-size: 50px;
    }
}
@media screen and (max-width:480px) {
    .search-result{
        width: 100%;

    }
    h1{
        font-size: 30px;
    }
}
/*#search-results{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 40px ;
}

.search-result{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}*/